<div class="container-fluid content-container">
    <section>
        <div class="row align-items-center">
            <div class="col-sm">
                <div class="row">
                    <figure class="col-auto">
                        <img src="../../../../assets/img/treinamentos/icon-bullseye.png" alt="Ícone de uma flecha acertando um alvo exatamente no seu centro">
                    </figure>
                    <div class="col">
                        <p>Todo treinamento parte de um <strong>desafio real definido previamente pela empresa</strong> em parceria com a Plurix.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="row">
                    <figure class="col-auto">
                        <img src="../../../../assets/img/treinamentos/icon-compass.png" alt="Ícone de uma bússola">
                    </figure>
                    <div class="col">
                        <p>Com apoio de <strong>mentoria</strong>, os times <strong>finalizam os módulos com projetos já estruturados</strong> para implementar no contexto da empresa.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-sm-5">
                <figure class="logo-tivit">
                    <img src="../../../../assets/img/treinamentos/logo-tivit-preto.png" alt="Logotipo da empresa cliente Tivit">
                </figure>
                <p>Breve descrição do treinamento da Tivit lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac eleifend lorem, non pharetra.</p>
            </div>
            <div class="col-sm-7 gray-container">
                <figure class="icon-aspas">
                    <img src="../../../../assets/img/treinamentos/icon-double-quote.png" alt="Um ícone de aspas que indicam citação à fala de alguém">
                </figure>
                <q>Rapaz, eles mudaram tudo por aqui. Foi uma loucura. Agora somos todos ótimos profissionais com um mindset diferenciado.</q>
                <hr class="separador-citacao">
                <cite>Thalita Rebouças - Diretora de Capacitação</cite>
            </div>
        </div>
    </section>
</div>
