<div class="container-fluid">
    <section>
        <div class="row align-items-center">
            <figure class="bkg-blue-pattern col-sm img-container">
                <img src="../../../assets/img/sobre/donos.png" alt="Vanessa e Rafael, fundadores da Plurix">
            </figure>
            <div class="col-sm text-container">
                <div class="row">
                    <h2>Quem inventou isso aqui?</h2>
                </div>
                <div class="row">
                    <p>Um texto que explique quem é a Vanessão e Rafão na fila do pão, de maneira mais fluida do que "minibio".</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.</p>
                </div>
            </div>
        </div>
    </section>
</div>
