<div class="component-container">
    <div class="row text-row">
        <h3>{{titulo}}</h3>
    </div>
    <div class="row text-row">
        <p>{{descricao}}</p>
    </div>
    <div class="row text-row">
        <div class="col table-responsive">
            <table class="table">
                <thead><tr><th scope="col">{{t1Titulo}}</th></tr></thead>
                <tbody><tr><td>{{t1Descricao}}</td></tr></tbody>
            </table>
        </div>
        <div class="col table-responsive" style="margin-left: 10px;">
            <table class="table">
                <thead><tr><th scope="col">{{t2Titulo}}</th></tr></thead>
                <tbody><tr><td>{{t2Descricao}}</td></tr></tbody>
            </table>
        </div>
    </div>
    <div class="row text-row">
        <a type="button" href="{{buttonLink}}" target="_blank" class="btn btn-primary contato-button yellow">Mais detalhes</a>
    </div>
</div>