<div>
    <section>
        <div class="container-fluid intro">
            <div class="row">
                <div class="col">
                    <h2>Formação em trilhas</h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>Treinamentos que visam criar <strong>bases sólidas</strong> em conteúdos que serão integralmente aplicados à realidade da empresa.</p>
                </div>
            </div>
        </div>
        <app-display-trilhas></app-display-trilhas>
    </section>
</div>
