<div class="bkg container-fluid content-container">
    <section>
        <div class="row">
            <div class="col-xl-7">
                <figure>
                    <img src="../../../../assets/img/treinamentos/treinamento-user-experience.png" alt="Notebook ligado e aberto sobre a mesa em close lateral onde se vê apenas as mãos de uma pessoa digitando" style="width:100%">
                </figure>
            </div>
            <div class="col-xl-5 curso-container">
                <app-curso
                    titulo="User Experience"
                    descricao="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo."
                    t1Titulo="modalidade"
                    t1Descricao="ONLINE"
                    t2Titulo="carga horária"
                    t2Descricao="14H"
                    buttonLink="https://embaixadordochurrasco.com.br/curso-prime-de-churrasqueiro/">
                </app-curso>
            </div>
        </div>
    </section>
</div>