<div class="display-style">
    <div class="container-fluid trilha-cards-container">
        <div class="row row-eq-height">
            <div class="col-sm">
                <app-card-trilha
                    titulo="Básica"
                    conteudo="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus."
                    [modulos]="['DESIGN THINKING (I)', 'DESIGN DE SERVIÇOS', 'UX NO DIA-A-DIA CORPORATIVO']"
                    trilhaVal="BASICA">
                </app-card-trilha>
            </div>
            <div class="col-sm">
                <app-card-trilha
                    titulo="Intermediária"
                    conteudo="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus."
                    [modulos]="['DESIGN THINKING (I E II)', 'DESIGN DE SERVIÇOS', 'UX NO DIA-A-DIA CORPORATIVO']"
                    trilhaVal="INTERMEDIARIA">
            </app-card-trilha>
            </div>
            <div class="col-sm">
                <app-card-trilha
                    titulo="Avançada"
                    conteudo="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus."
                    [modulos]="['DESIGN THINKING (I)', 'DESIGN DE SERVIÇOS', 'UX NO DIA-A-DIA CORPORATIVO']"
                    trilhaVal="AVANCADA">
                </app-card-trilha>
            </div>
            <div class="col-sm">
                <app-card-trilha
                    titulo="Sob medida"
                    conteudo="Crie a trilha ideal para as suas necessidades escolhendo entre 4 e 12 módulos de 8 horas cada. Todos os módulos foram pensados para mesclar sempre teoria e prática, sendo a mão na massa parte muito importante da jornada para internalização de conceitos, às vezes, abstratos."
                    link="Conheça nossos módulos"
                    linkHref="zzz"
                    [tituloAzul]="true"
                    trilhaVal="CUSTOM">
                </app-card-trilha>
            </div>
        </div>
    </div>
</div>
