<div class="modal-body">
    <div class="container">
        <div class="row">
          <div class="col-sm my-auto text-center" >
            <figure>
                <img src="../../../../../assets/img/common/logo.png" class="img-fluid logo-modal" alt="Logotipo da Plurix">
            </figure>
          </div>
          <div class="col-sm my-auto">
            <div class="row">
                <h2>Vamos tomar um café e falar sobre o seu projeto?</h2>
            </div>
            <div class="row">
                <h3>Contato</h3>
             </div>
            <div class="row">
                <p>+55 11 99269 6003<br>
                contato@plurix.com.br</p>
            </div>
            <hr>
            <div class="row">
                <h3>Quer trabalhar na plurix?</h3>
            </div>
            <div class="row">
                <p>vagas@plurix.com.br</p>
            </div>
            <div class="row">
                <h3>Endereço</h3>
            </div>
            <div class="row">
                <p>Rua Amauri, 116 - Sala 16<br>
                Itaim Bibi, São Paulo/SP</p>
            </div>
          </div>
        </div>
    </div>
</div>
