article {
    padding: 30px 0px;
}
.logo-style {
    display: block;
    max-height: 100px;
    max-width: 150px;
    width: auto;
    height: auto;
}

.figure {
    margin-bottom: 50px;
}

cite {
    font-weight: bold;
    font-style: normal; 
    font-size: 18px;
}

.tags {
    font-weight: bold;
    text-transform: uppercase;
    font-size: small;
}

.content-group {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-right:inherit;
    padding-left:inherit;
}

.content-group:last-child {
    margin-bottom: 0px;
}


.content-group:first-child{
    margin-top: 0px;
}
.list-inline-item {margin-right:0px !important}
.list-inline{display:block;}
.list-inline li{display:inline-block;}
.list-inline li:after{content:'\2022'; margin-left:3px; margin-right:6px;}
.list-inline li:last-child:after {content: '';}