<div class="bkg-mobile container-fluid content-container">
    <section>
        <div class="row">
            <div class="col-xl-7 only-mobile-xl">
                <figure>
                    <img src="../../../../assets/img/treinamentos/treinamento-customer-experience.png" alt="Sala de aula durante um curso de Customer Experience" style="width:100%">
                </figure>
            </div>
            <div class="col-xl-5 curso-container">
                <app-curso
                    titulo="Customer Experience"
                    descricao="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo."
                    t1Titulo="modalidade"
                    t1Descricao="PRESENCIAL"
                    t2Titulo="carga horária"
                    t2Descricao="14H"
                    buttonLink="https://youtu.be/98UUYvMWoH0">
                </app-curso>
            </div>
            <div class="col-xl only-not-mobile-xl">
                <figure>
                    <img src="../../../../assets/img/treinamentos/treinamento-customer-experience.png" alt="Sala de aula durante um curso de Customer Experience" style="width:100%">
                </figure>
            </div>
        </div>
    </section>
</div>