<div class="container-fluid">
    <section>
        <div class="row">
            <div class="col text-center">
                <h2>Cursos lorem ipsum</h2>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc convallis velit sed convallis suscipit. Nulla condimentum semper sollicitudin. Aenean congue nec dui vel blandit.</p>
            </div>
        </div>
    </section>
</div>

