<div class="container-fluid content-container">
    <section>
        <div class="row">
            <div class="col-md">
                <app-diferencial 
                    titulo="Diferencial I dos treinamentos" 
                    descricao="lorem ipsum dolor sit amet, consectetur."
                    img="../../../../../assets/img/treinamentos/Araci-de-Almeida.jpg"
                    imgAlt="Araci de Almeida">
                </app-diferencial>
            </div>
            <div class="col-md">
                <app-diferencial 
                    titulo="Diferencial II dos treinamentos" 
                    descricao="lorem ipsum dolor sit amet, consectetur."
                    img="../../../../../assets/img/treinamentos/decio.jpg"
                    imgAlt="Décio Piccinini">
                </app-diferencial>
            </div>
            <div class="col-md">
                <app-diferencial 
                    titulo="Diferencial III dos treinamentos" 
                    descricao="lorem ipsum dolor sit amet, consectetur."
                    img="../../../../../assets/img/treinamentos/pedro_de_lara_f_004.jpg"
                    imgAlt="Pedro de Lara">
                </app-diferencial>
            </div>
        </div>
    </section>
</div>

