<div class="container-fluid">
    <section class="design-estrategico-section">
        <article class="row">
            <div class="col-sm">
                <div class="row content-container">
                    <h1>Somos uma equipe de design estratégico.</h1>
                </div>
                <div class="row relative-container img-container">
                    <img src="../../../assets/img/sobre/equipe.png" class="equipe-img" alt="Três membros de uma equipe de trabalho olhando para a tela de um notebook alegres">
                </div>
            </div>
            <div class="col-sm content-container">
                <div class="row">
                    <div class="col-sm">
                        <div class="manifesto-article">
                            <p>Aqui entrará o manifesto. Talvez essa área fique diferente. Vamos ver o que vem por aí, ainda não dá pra saber.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.</p>
                            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum.</p>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </section>
</div>
<div>
    <section>
        <article class="row gray-container">
            <div class="col-sm">
                <h2>VALORES QUE TALVEZ SEJAM ABSORVIDOS PELO MANIFESTO</h2>
            </div>
            <div class="col-sm">
                <p>Somos orientados por princípios que não impactem negativamente as pessoas envolvidas no processo.</p>
            </div>
            <div class="col-sm">
                <p>Buscamos desafios que nos movimentem, que exijam mais da nossa criatividade.</p>
            </div>
            <div class="col-sm">
                <p>Tentamos o novo, somos inquietos, questionamos fórmulas prontas para encontrar novas respostas.</p>
            </div>
        </article>
    </section>
</div>
