<div class="container-fluid">
    <section>
        <div class="row align-items-center">
            <div class="col-sm-8" [ngClass]="{'text-center' : !isDesktopView()}">
                <p>Chamada sobre treinamento falando que a gente não dá só o peixe, a gente também ensina a pescar.</p>
            </div>
            <div class="col-sm-4" [ngClass]="{'text-center' : !isDesktopView()}">
                <a type="button" class="btn btn-primary contato-button yellow" href="https://youtu.be/l5hvakZf8qw" target="_blank">Olokinho meu</a>
            </div>
        </div>
    </section>
</div>

