<div class="row">
    <div class="col-sm">
        <h2>Ué, mas por que a Plurix e não uma outrazinha por aí?</h2>
    </div>
    <div class="col-sm text-center">
        <ngb-carousel *ngIf="images">
            <ng-template ngbSlide *ngFor="let image of images">
                <div class="picsum-img-wrapper">
                    <figure class="figure">
                        <img [src]="getSrcFromName(image.fileName)" alt="{{image.alt}}">
                        <figcaption class="figure-caption text-left">{{image.figcaption}}</figcaption>
                    </figure>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</div>